#root {
  width: 100vw;
  height: 90vh;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: white;
}

header {
  display: block;
  width: 100vw;
  height: 10vh;
  padding: 20px;
  text-align: center;
  border: 2px solid blue;
  background-color: slategray;
  color: white;
}
footer {
  display: block;
  margin-top: 35vh;
  height: 50px;
  width: 100vw;
  padding: 20px;
  text-align: center;
  border: 2px solid blue;
  background-color: rgb(14, 35, 54);
  color: white;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.person-container {
  display: flex;
  justify-content: center;
  gap: 20vh;
  padding: 30px;
  flex-wrap: wrap;
}
